__pycache__/
*.pyc
.venv/
venv/
*.mp4
*.avi
*.mov
uploads/*
!uploads/.gitkeep
traffic_log.csv
train_error.log
*.log
runs/
plate_dataset/
dataset/
helmet_dataset/
gender_dataset/
helmet_dataset_train/
gender_dataset_train/
.pytest_cache/
